body {
  background-image: url("assets/desk.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.calculator {
  width: 50%;
  max-width: 450px;
  min-width: 200px;
  background: silver;
  box-shadow: 0 16px 32px 16px #000000;
  /* backdrop-filter: blur(10.5px);*/
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  margin: auto;
  margin-top: 75px;
}

.display {
  background-color: black;
  border: 20px;
  border-radius: 25px 25px;
  margin-bottom: 16px;

  text-align: right;
  padding-right: 15px;
  padding-bottom: 0.7em;
  height: 6em;
  font-size: 1.2em;
  font-weight: 400;
  overflow: hidden;
}

.calcdisplay {
  padding-top: 10px;
  height: 2em;
  color: white;
  font-size: 1.3em;
  font-weight: 400;
}

.resultdisplay {
  color: aqua;
  height: 5em;
  font-weight: 500;

  font-size: 1.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.num-btn {
  min-width: 30px;
}

.buttons {
  font-size: 0;
}
